* {
    margin: 0.1%;
    padding: 0.1%;
    box-sizing: border-box;
}

body {
    font-family: Nunito, sans-serif;
}

header {
    background-color: lavenderblush;
}

main {
    background-color: cadetblue;
    border: 1px solid #333;
}

footer {
    background-color: lavender;
    text-emphasis: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    margin: 0;
    text-align: center;
}

.nav{
    background-color: lavenderblush;
    position: sticky;
    top: 0%;
    margin-top: -10px;
    text-align: center;
}
.nav li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

.nav a{
    text-decoration: none !important;
}

/* #ulNav {
    list-style-type: none; /* para sacarle la viñeta a la lista desordenada */
/*    text-decoration: none; /* para sacarle la apariencia de enlace */
/*    color: tomato;
    background-color: rgb(255, 248, 250);
    display: flex;
} */

#logo {
    display: block;
    margin: 0 auto;
}

#Productos{
    display: flex;
}

#Llegar{
    text-decoration: none;
}

#Datos{
    display: block;
}
#Datos>p{
    
}